<section class="mainbar" data-ng-init="vm.setFormFields()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      New Patient
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.create()" novalidate>
		
		<formly-form model="vm.patient" fields="vm.formFields" form="vm.form">
        </formly-form>
		<div class="formly-field formly-field-input" >
          <div class="form-group">
            <div>
              <label class="control-label">
                Doctor:*
              </label>  
			  <select ng-model="vm.selectedDoctor" 
			  ng-options='doctor.name for doctor in vm.doctors'
			  ng-change="vm.setDoctor()">
			 </select>  
			 </div>
			 </div>
			 </div>
		<div class="formly-field formly-field-input" >
			<div class="form-group">
			<div>
			<label class="control-label">
                Vital:*
              </label> 
			  <select ng-model="vm.selectedVital" ng-options="vital.Id as vital.name for vital in vm.vitals"  ng-change="vm.setVital()">
			 </select>  			 
            </div>
          </div>
        </div>    

        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Save
            </button>
            <a class="btn btn-danger" href="/patient">
              <i class="glyphicon glyphicon-remove"></i> Cancel
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>

    </div>
  </div>

</section>
